<a href="https://colab.research.google.com/github/yoonju977/challenge/blob/main/Chapter0913_%E1%84%80%E1%85%AA%E1%84%8C%E1%85%A6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter09 ~ 13 수업은 잘 들으셨나요?

Chapter09 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후 ▷ 버튼을 클릭해 코드를 실행해보세요<br>

---

[문제1]<br>

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "비밀"을 "나폴레옹"과 "괴물" 사이에 추가해주세요



```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

In [10]:
movie.insert(2, '비밀')
print(movie)

['서울의 봄', '나폴레옹', '비밀', '비밀', '괴물']

---

[문제2]<br>

movie_rank 리스트에서 '베트맨'를 삭제해주세요

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

In [11]:
del movie[-1] # movie.remove("베트맨")
print(movie)

['서울의 봄', '나폴레옹', '비밀', '비밀']

---

[문제3]<br>

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

```lang1 = ["C", "C++", "JAVA"]```<br>
```lang2 = ["Python", "Go", "C#"]```  

실행 예:
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [12]:
언어모음= lang1 + lang2
print(언어모음)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

---

[문제4]<br>

다음 리스트에서 최댓값과 최솟값을 출력해주세요.

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

In [5]:
print(max(num))
print(min(num))

10
1

---

[문제5]

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

```cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]```

In [6]:
print(len(cook))

8

---

[문제6]

다음 리스트의 평균을 출력해주세요

```nums = [1, 2, 3, 4, 5]```

In [35]:
nums = [1, 2, 3, 4, 5]

average = sum(nums) / len(nums)
print(average)

TypeError: 'int' object is not callable

---

[문제7]

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

```price = ['20180728', 100, 130, 140, 150, 160, 170]```

출력:
[100, 130, 140, 150, 160, 170]

In [25]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
del price[0]
print(price)

[100, 130, 140, 150, 160, 170]

---

[문제8]

아래 코드 실행 시 오류가 발생한 사유를 설명해주세요

```t = (1, 2, 3)```<br>
```t[0] = 'a' ```<br>
```Traceback (most recent call last):```  
   ```File "<pyshell#46>", line 1, in <module>```  
      ```t[0] = 'a'```   
```TypeError: 'tuple' object does not support item assignment```

튜블이 불변하여 수정 불가능하다

---

[문제9]
다음 딕셔너리를 사용하여 메로나 가격을 출력해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

실행 예:
메로나 가격: 1000

In [27]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격:", ice['메로나'])

메로나 가격: 1000

---

[문제10]

다음 딕셔너리에서 메로나의 가격을 1300으로 수정해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

In [31]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']= 1300
print("메로나 가격:", ice['메로나'])

메로나 가격: 1300

---

[문제11]

아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


이름 : 나이썬, 김자바, 김씨, 박씨샵  
등급 :   B       B      A      C

In [30]:
name = ["나이썬", "김자바", "김씨", "박씨샵"]
grade = ["B", "B", "A", "C"]

std = dict(zip(name, grade))
print(std)

{'나이썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}

---

[문제12]

아래 ice 딕셔너리에 데이터를 추가 후 출력해주세요

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터 : 이름 : 보석바, 가격:650, 재고:10

In [32]:
ice={"메로나":[300,20],
     "비비빅": [400,3],
     "죠스바": [250,100]}
ice.update({"보석바":"[650, 10]"})
print(ice)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '보석바': '[650, 10]'}

---

[문제13]

아래 딕셔너리에서 key만 출력해주세요  

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [33]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print(ice.keys())

dict_keys(['메로나', '폴로포', '빵빠레', '죠스바', '월드콘'])